{% load static tailwind_tags %}
{% load static %}
<!doctype html>
<html lang="en" data-theme="synthwave">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %} My Shop {% endblock %} </title>
  {% tailwind_css %}
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20,100,1&icons_names=store,library_books,home,search,login"
    rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body class="nerd-font leading-normal tracking-normal">
  <div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li><a href="{% url 'store:product_all' %}">home <span class="material-symbols-outlined">home</span></a></li>
          <li>
            <details>
              <summary>library <span class="material-symbols-outlined">library_books</span></summary>
              <ul class="p-2">
                <li><a href="">All</a></li>
                {% for c in categories %}
                <li><a href="{{ c.get_absolute_url }}">{{ c.name|title }}</a></li>
                {% endfor %}
              </ul>
            </details>
          </li>
          <li><a>Logout <span class="material-symbols-outlined">logout</span></a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-xl">bookstore. <span class="material-symbols-outlined">store</span></a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url 'store:product_all' %}">home <span class="material-symbols-outlined">home</span></a></li>
        <li><a>store <span class="material-symbols-outlined">store</span></a></li>
        <li>
          <details>
            <summary>library <span class="material-symbols-outlined">library_books</span></summary>
            <ul class="menu dropdown-content bg-base-500 rounded-box z-1 w-52 p-2 shadow-sm">
              <li><a href="">All</a></li>
              {% for c in categories %}
              <li> <a href="{{ c.get_absolute_url }}"> {{ c.name|title }} </a></li>
              {% endfor %}
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <div class="gap-2 navbar-end flex">
      <input type="text" placeholder="Search " class="input input-bordered w-24 md:w-auto" />
      <a href="{% url 'basket:basket_summary' %}" class="relative gap-2 rounded-full p-1 px-2 items-center">
        {% with total_qty=basket|length %}
        <span class="rounded-full px-1 text-xs bg-red-600/70 absolute top-0 right-0" id="qty-basket">
          {% if total_qty > 0 %}
          {{ total_qty }}
          {% else %}
          0
          {% endif %}
        </span>
        {% endwith %}
        <span class="material-symbols-outlined">shopping_cart</span>
      </a>

      {% if user.is_authenticated %}
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li><a>profile</a></li>
          <li><a>settings</a></li>
          <li><a>logout 󰍃</a></li>
        </ul>
      </div>
      {% else %}
      <a class="btn btn-primary rounded-full" href="#">
        Login
      </a>
      {% endif %}
    </div>
  </div>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
