{% extends "layout.html" %}
{% block title %}
Reset confirm password
{% endblock %}

{% if user.is_authenticated %}
<script>
  window.location.href = "{% url 'account:dashboard' %}";
</script>
{% endif %}

{% block content %}
<section class="flex items-center w-full justify-center h-[90vh]">
  {% if validlink %}
  <form class="fieldset bg-base-200 border-base-300 rounded-box lg:w-xl w-auto border p-4" method="POST">
    <h1 class="text-2xl border-b-neutral pb-2">Change your password</h1>

    {% if form.errors %}
    <div role="alert" class="alert alert-error alert-soft">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Error: {{ form.errors }}</span>
    </div>
    {% endif %}

    {% csrf_token %}
    <fieldset class="fieldset">
      <label for="{{ form.new_password1.id_for_label }}" class="label">{{ form.new_password1.label }}</label>
      {{ form.new_password1 }}
    </fieldset>

    <fieldset class="fieldset">
      <label for="{{ form.new_password2.id_for_label }}" class="label">{{ form.new_password2.label }}</label>
      {{ form.new_password2 }}
    </fieldset>

    <button class="btn btn-neutral mt-4" type="submit">Reset</button>
    <a href="{% url 'account:login' %}" class="text-center link-accent text-neutral">Already have an account?</a>
  </form>
  {% else %}
  <div class="alert alert-error">
    This password reset link is invalid or has already been used.
  </div>
  {% endif %}
</section>
{% endblock %}
