{% extends "layout.html" %}
{% block title %}
Password Reset
{% endblock %}

{% if user.is_authenticated %}
<script>
  window.location.href = "{% url 'account:dashboard' %}";
</script>
{% endif %}

{% block content %}
<section class="flex items-center w-full justify-center h-[90vh]">
  <form class="fieldset bg-base-200 border-base-300 rounded-box lg:w-xl w-auto border p-4" method="POST"
    action="{% url 'account:pwdreset' %}">
    {% csrf_token %}
    <h1 class="text-2xl border-b-neutral pb-2">Forgotten your password?</h1>
    <p>Enter your email address to reset your password.</p>

    {% if form.errors %}
    <div role="alert" class="alert alert-error alert-soft">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Error: Please try again!</span>
    </div>
    {% endif %}

    <fieldset class="fieldset">
      <label for="{{ form.email.id_for_label }}" class="label">{{ form.email.label }}</label>
      {{ form.email }}
    </fieldset>

    <button class="btn btn-neutral mt-4" type="submit">Send E-mail</button>
    {% if not user.is_authenticated %}
    <a href="{% url 'account:login' %}" class="text-center link-accent text-neutral">Login</a>
    {% endif %}
  </form>
</section>
{% endblock %}
