{% extends "store/layout.html" %}

{% block title %}
{{ block.super }} - {{ category.name }}
{% endblock %}

{% block content %}
<h1 class="text-3xl text-center p-4">Search: {{ category.name|title }}</h1>
<section class="md:flex grid items-center justify-center p-8 mx-auto gap-2">
  {% for p in product %}
  <div class="card bg-base-200 w-96 shadow-sm">
    <figure class="px-10 pt-10">
      {% for image in p.product_image.all %}
      {% if image.is_feature %}
      <img src="{{ image.image.url }}" alt="{{ image.alt_text }}">
      {% endif %}
      {% endfor %}
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.title|title }}</a></h2>
      <p>{{ p.description }}</p>
      <div class="card-actions justify-center">
        <a href="" class="badge badge-outline badge-success my-2">
          {{ p.category }}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
