{% extends "layout.html" %}
{% load static %}

{% block title %}
Bookstore
{% endblock %}

{% block content %}
<div class="indicator hero min-h-screen" style="background-image: url({{background.video.url}});">
  <div class="hero-content text-neutral-content text-center flex-col">
    <div class="max-w-full">
      <h1 class="mb-5 font-bold text-2xl md:text-5xl sm:text-3xl text-neutral">Search, Read, Buy, Review</h1>
      <p class="mb-5 text-neutral">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      {% if not user.is_authenticated %}
      <a class="btn btn-primary" href="{% url 'account:register' %}">Create an Account <i>&#xf0004</i></a>
      {% endif %}
    </div>
    <div class="mt-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-12 animate-bounce">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </div>
  </div>
</div>

<h1 class="text-3xl text-center p-4">All books</h1>

<section class="w-full rounded-4xl bg-base-200">
  <div class="p-8 justify-center gap-4 flex flex-wrap">
    {% if product %}
    {% for p in product %}
    <div class="card bg-base-100 justify-center w-96 shadow-sm">
      <figure class="px-10 pt-10">

        {% for image in p.product_image.all %}
        {% if image.is_feature %}
        <img src="{{ image.image.url }}" alt="image.image.alt_text" class="rounded-xl" />
        {% endif %}
        {% endfor %}

      </figure>
      <div class="card-body">
        <h1 class="font-bold text-lg flex justify-between w-full">
          <a href="{{ p.get_absolute_url }}">
            {{ p.title|title }}
          </a>
          <span>${{ p.regular_price }}</span>
        </h1>
        <p class="line-clamp-5 text-neutral">{{ p.description }}</p>
        <div class="card-actions">
          <a href="" class="badge badge-outline badge-success my-2">
            {{ p.category }}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-xl">There are currently no products active!</div>
    {% endif %}
  </div>
</section>
{% endblock %}
