{% extends "store/layout.html" %}
{% block title %}
Edit details
{% endblock %}

{% block content %}
<section class="flex flex-col gap-5 items-center w-full justify-center h-[90vh]">
  <form class="fieldset bg-base-200 border-base-300 rounded-box lg:w-xl w-auto border p-4" method="POST"
    enctype="multipart/form-data">
    {% csrf_token %}

    {% if user_form.is_valid %}
    <div role="alert" class="alert alert-success alert-soft text-center">
      <span>User details successfully updated!</span>
      <a class="text-center text-primary" href="{% url 'account:dashboard' %}">Go back to dashboard</a>
    </div>
    {% else %}
    <h1 class="text-2xl border-b-neutral pb-2">Edit details</h1>


    {% if form.errors %}
    <div role="alert" class="alert alert-error alert-soft">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Error! Incorrect Username or Password</span>
    </div>
    {% endif %}

    <fieldset class="fieldset">
      <label for="{{ user_form.user_name.id_for_label }}" class="label">{{ user_form.user_name.label }}</label>
      {{ user_form.user_name }}
    </fieldset>

    <fieldset class="fieldset">
      <label for="{{ user_form.email.id_for_label }}" class="label">{{ user_form.email.label }}</label>
      {{ user_form.email }}
    </fieldset>

    <fieldset class="fieldset">
      <label for="{{ user_form.first_name.id_for_label }}" class="label">{{ user_form.first_name.label }}</label>
      {{ user_form.first_name }}
    </fieldset>

    <button class="btn btn-neutral mt-4" type="submit">Save Changes</button>
    {% endif %}
  </form>
  <form class="fieldset bg-base-100 border-base-300 rounded-box lg:w-xl w-auto border p-4" method="POST"
    action="{% url 'account:delete_user' %}">
    {% csrf_token %}
    <h1 class="text-2xl">Delete your account</h1>
    <p>Are you sure you want to delete your account?</p>
    <button class="btn btn-error btn-soft mt-4" type="submit">Delete</button>
  </form>
</section>
{% endblock %}
